<div class="p-4 bg-white rounded-lg shadow-md">
  <div class="relative overflow-x-auto rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
          Titre
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Difficulty
        </th>
        <th>
          Action
        </th>
      </tr>
      </thead>
      <tbody>
        @for (quiz of this.all_quizzes; track $index){
          <tr class="bg-white border-b border-gray-200">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            {{ quiz.title }}
          </th>
          <td class="px-6 py-4">
            {{ quiz.description }}
          </td>
          <td class="px-6 py-4">
            {{ quiz.category }}
          </td>
          <td class="px-6 py-4">
            {{ quiz.difficulty }}
          </td>
            <td>
              <a [routerLink]="['/quiz', quiz.id]" class="text-blue-600 hover:text-blue-900">
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination></app-pagination>
  </div>

</div>

