<div class="h-full">
  <div class="flex bg-white justify-between p-4 mx-3 my-4 ">
    <p>Bienvenue sur le dashboard</p>
    <p>Dashboard</p>
  </div>
<div class=" grid grid-cols-2 lg:grid-cols-3  sm:gap-4 sm:mx-3 p-4 ">
  <div>
    <a href="#" class="block w-[450px] h-[450px] p-6 bg-white border border-gray-200 rounded-sm shadow-sm">
      <p class="text-lg text-center">Pourcentage de quiz terminer</p>

      <canvasjs-chart [options]="this.dashboardService.average_completed_quiz_by_user()" [styles]="{width: '100%', height:'350px'}"></canvasjs-chart>
    </a>
  </div>
  <div>
    <a href="#" class="block w-[450px] h-[450px] p-6 bg-white border border-gray-200 rounded-sm shadow-sm">
      <p class="text-lg text-center">Pourcentage de quiz terminer</p>

      <canvasjs-chart [options]="this.dashboardService.percentage_correcte_answers_last_quiz()" [styles]="{width: '100%', height:'350px'}"></canvasjs-chart>
    </a>
  </div>
  <div>
    <a href="#" class="block w-[450px] h-[450px] p-6 bg-white border border-gray-200 rounded-sm shadow-sm">
      <p class="text-lg text-center">Nombre de quiz terminer</p>
      <canvasjs-chart [options]="this.dashboardService.stay_quiz_user()" [styles]="{width: '100%', height:'350px'}"></canvasjs-chart>
    </a>
  </div>
</div>


</div>
