<div>
    <div class="w-52 h-28 flex items-center justify-center rounded-lg cursor-pointer flex  flex-col"
         [ngClass]="{'bg-blue-600': search, 'bg-white': !search}"
         (click)="toggleSearch()">
      <img src="search.svg"
           alt="search"
           class="w-9 h-9 transition-all duration-300"
           [ngClass]=" {'filter invert' : search, 'filter brightness-0 saturate-0' : !search}">
      <p [ngClass]="{'text-white': search, 'text-black': !search}">Filtrer les quiz</p>
    </div>
</div>
