<div>
  <div class="p-4 bg-white rounded-lg shadow-md mx-4 flex gap-4">
    <div class="w-3/4">
      <div class="flex gap-4 items-center">
        <p class="font-medium text-xl">Mon détails</p>
        <button class="p-4 bg-gray-200 rounded-lg hover:bg-gray-300">
          <img src="edit.svg" alt="" class="w-4 h-4">
        </button>
      </div>
      <div>
        <div class="flex flex-col gap-2">
          <span>Nom</span>
          <input type="text" name="" id="" class="bg-gray-200 rounded-sm p-2" disabled placeholder="{{user?.last_name}}">
        </div>
        <div class="flex flex-col gap-2">
          <span>Prénom</span>
          <input type="text" name="" id="" class="bg-gray-200 rounded-sm p-2" disabled placeholder="{{user?.first_name}}">
        </div>
        <div class="flex flex-col gap-2">
          <span>Email</span>
          <input type="text" name="" id="" class="bg-gray-200 rounded-sm p-2" disabled>
        </div>
        <div class="flex flex-col gap-2">
          <span>Adresse</span>
          <input type="text" name="" id="" class="bg-gray-200 rounded-sm p-2" disabled placeholder="{{user?.adress}}">
        </div>
        <div class="flex flex-col gap-2">
          <span>Ville</span>
          <input type="text" name="" id="" disabled placeholder="{{user?.ville}}">
        </div>
        <div class="flex flex-col gap-2">
          <span>Code postale</span>
          <input type="text" name="" id="" disabled placeholder="{{user?.cp}}">
        </div>
      </div>
    </div>
    <div>
      <img
        class="w-40 h-40 rounded-full object-cover border-2 border-gray-200"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt="Photo de profil"
      >
      <div class="flex">
        <p>nom XXXXX</p>
        <p>prenom XXXX</p>
      </div>
      <p class="text-gray-500">Role XXX</p>
    </div>
  </div>

</div>
